.projects {
  padding: 1rem;
  animation: fadeIn 1s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 20px auto;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects h2 {
  color: #2c3e50;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.projects h2::after {
  content: '';
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, #3498db, #8e44ad);
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

.projects h3 {
  color: #16a085;
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
}

.projects p,
.projects a {
  color: #333;
  line-height: 1.6;
}

.projects a {
  display: inline-block;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-item {
  flex: 1 1 calc(33.333% - 1rem);
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-item h3 {
  margin-top: 0;
}

.project-item img {
  max-width: 100%;
  border-radius: 8px;
}

.project-item p {
  margin: 10px 0;
}

.project-languages i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #333;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #333;
}

.project-links a:hover {
  color: #3498db;
}
